<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="author" content="© 2012 GIRLS UP">
<meta name="description" content="">
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>maplus</title>
<link rel="stylesheet" href="../css/general.css"/>
<link rel="stylesheet" href="../css/layout.css"/>
<link rel="stylesheet" href="../css/module.css"/>
<title>mapl
	us</title>
</head>
<body class="">


<header class="tbl">
	<div class="tbl-cell w60 left_bx"></div>
	<div class="tbl-cell canter_bx">ココlink</div>
	<div class="tbl-cell w60 right_bx">
		 <a href="post.html"><img src="../images/icon/push-pin.png" class=""></a>
	</div>
</header>	


<div class="contents_top">
    <article id="js_addlist" class="mt20">

	    <div class="post_bx p10 clrF">
	    	<span class="text10 text_col_gray"> murabo408</span>
	    	<span class="floRight text10 text_col_gray">10月2日 12:00</span>
	        <p class="mt5 text15">ここのラーメンおいしかったよー</p>
	        <div class="post_images clrF">
	            <img src="../images/image_01.jpeg" class="load_anime w100p">
	        </div>

	        <div class="mt10">
		        <a class="text_col_link disp_block floLeft">
		       		<p>COCO一番</p>
		       		<p class="text10">東京都渋谷区道玄坂上３番地５丁目...</p>
		        </a>
				<span class="floRight text11">★★★</span>
			</div>
		</div>

	<div class="tbl mt10">
		<div class="mt5 tbl-cell">
			<p><span class="text12 mr5">yoshiko</span><span class="text10 text_col_gray">コメントコメントコメント・・・</span>
			</p>
			<p><span class="text12 mr5">yoshiko</span><span class="text10 text_col_gray">コメントコメントコメント</span>
			</p>
			<span class="tx_underline text10 text_col_gray">その他のコメント</span>
		</div>
		<div class="tbl-cell floRight ">
			<p class="btn_min mr10">add</p><p class="btn_min">コメ</p>
		</div>
	</div>


    </article>
</div>



<script type="text/template" id="template">
{{id}}<br>
{{content}}<br>
{create_datetime}}<br>
</script>


<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../js/plugin/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="../js/plugin/jquery.autoResize.min.js"></script>
<script type="text/javascript" src="../js/general.js"></script>
<script type="text/javascript" src="../js/ajax_common.js"></script>


<script type="text/javascript" src="../js/lib/plus.js"></script>
<script type="text/javascript" src="../js/feed.js"></script>
</body>
</html>
