<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="author" content="© 2012 GIRLS UP">
<meta name="description" content="">
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>maplus</title>
<link rel="stylesheet" href="../css/general.css"/>
<link rel="stylesheet" href="../css/layout.css"/>
<link rel="stylesheet" href="../css/module.css"/>
<title>mapl
	us</title>
</head>
<body class="pos_rel">

<header class="tbl">
	<div class="tbl-cell w60 left_bx"></div>
	<div class="tbl-cell canter_bx">プロフィール編集</div>
	<div class="tbl-cell w60 right_bx"> 登録</div>
</header>	

<section class="contents_top">
	<form method="POST" action="confirm_user.html" class="mt20">
		<div class="mt10">
			<div class="text12 fw_bld">
				ユーザー名
				<span class="error">※エラーメッセージ</span>
			</div> 
			<input type="text" name="user_name" maxlength="16" value="">
		</div>
		<div class="mt10">
			<div class="text12 fw_bld">
				パスワード
				<span class="error">※エラーメッセージ</span>
			</div> 
			<input type="text" name="password" maxlength="16" value="">
		</div>
		<div class="mt10">
			<div class="text12 fw_bld">
				住所
				<span class="error">※エラーメッセージ</span>
			</div> 
			<input type="text" name="add" maxlength="16" value="">
		</div>


		<div class="mt10">
			<div class="text12 fw_bld">
				興味のあるカテゴリー
				<span class="error">※エラーメッセージ</span>
			</div> 
			<input type="checkbox" name="q2" value="その1"> その1
			<input type="checkbox" name="q2" value="その2" checked> その2
			<input type="checkbox" name="q2" value="その3"> その3
			<input type="checkbox" name="q2" value="その4" checked> その4
			<input type="checkbox" name="q2" value="その5"> その5
			</p>
		</div>
	</form>
	
<section>


<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../js/plugin/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="../js/plugin/jquery.autoResize.min.js"></script>
<script type="text/javascript" src="../js/general.js"></script>
<script type="text/javascript" src="../js/ajax_common.js"></script>


<script type="text/javascript" src="../js/lib/plus.js"></script>
<script type="text/javascript" src="../js/feed.js"></script>
</body>
</html>
