<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="author" content="© 2012 GIRLS UP">
<meta name="description" content="">
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>maplus</title>
<link rel="stylesheet" href="/static/css/general.css"/>
<link rel="stylesheet" href="/static/css/layout.css"/>
<link rel="stylesheet" href="/static/css/module.css"/>
<title>mapl
	us</title>
</head>
<body class="pos_rel">

{{username}}さん、ログイン完了<br />
<a href="{% url "gu_index" %}" >GIRLS UPへ</a>
</body>
</html>
