<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="author" content="© 2012 GIRLS UP">
<meta name="description" content="">
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>maplus</title>
<link rel="stylesheet" href="/static/css/general.css"/>
<link rel="stylesheet" href="/static/css/layout.css"/>
<link rel="stylesheet" href="/static/css/module.css"/>
<title></title>
</head>
<body>
    {% csrf_token %}

<header class="tbl">
    <div class="tbl-cell w60 left_bx"></div>
    <div class="tbl-cell canter_bx">投稿する</div>
    <div class="tbl-cell w60"></div>
</header>   

<article class="contents_top">


        <h1>カテゴリー</h1>
        <select name="category" id='category'>

            <option value="">全て</option>
            <option value="store">お店</option>
            <option value="food">食事</option>
            <option value="cafe">カフェ</option>
            <option value="bus_station">バス停</option>
            <option value="gym">ジム</option>

        </select>


    <div class="contents map_page disp_block">


        
        <input type="text" name="query" id="js-geocoding-input"  maxlength="100" value="" class="w100p"　placeholder="ここに入力した住所へジャンプ">
        <button type="botton"class="js-geocoding btn bg_col_999 mt10">ジャンプ</button>
        
        <button type="botton"class="js-search btn bg_col_999 mt10">検索</button>


        <div id="map_canvas" style="width:100%; height:200px" class="mt10"></div>


       <button type="botton"class="js-current btn bg_col_999 mt10">現在地に戻る</button>

      <div class="js-current-post2 btn bg_col_999 mt10">現在地から投稿</div>


        <h1>検索結果</h1>
        <ul id="js-result-list" class="dsp_txt_page ullist mt10"></ul>
    </div>

    <div class="contents txt_page disp_none">
        <div class="dsp_map_page">戻る</div>

    	<form action="http://127.0.0.1:8080/ajax_post/" method="post">
    	    <section class="m10">
    	        <textarea id="js-message" name="message" class="p10 minH125" maxlength="140" placeholder="書き込み..."></textarea>
    	        <div id="js-comment_counter" class="counter">140</div>
    	    </section>

            <div class="dsp_place">
                <p class="place"></p>

                <input type="hidden" name="lat" value="" id="lat">
                <input type="hidden" name="lng" value="" id="lng">


    		</div>
            <input type="checkbox" name="public_flg" value="1">公開する<br>
            <input type="checkbox" name="review_flg" value="1">評価する

            <div class="star_review">
                <div class="starlevel5 star00"></div>
                <ul>
                    <li class="js_star" id="star_10"></li>
                    <li class="js_star" id="star_20"></li>
                    <li class="js_star" id="star_30"></li>
                    <li class="js_star" id="star_40"></li>
                    <li class="js_star" id="star_50"></li>
                </ul>
            </div>

    	    <!--start  data url -->
    	    <div class="m10 mt20">
    	       <input type="file" id="files" name="files[]" multiple class="disp_none"/>
    	       <output id="list" class=""></output>
    	       <img class="js-disp-img disp_img">
    	       <input type="hidden" name="data_url" value="" class="js-post-data-url">
    	    </div>
    	    <!--end  data url -->
    	</form>

        <button type="botton"class="js-submit btn bg_col_999 mt10">投稿する</button>

    </div>

</article>



<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>


<script type="text/javascript" src="/static/js/common/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/common/general.js"></script>
<script type="text/javascript" src="/static/js/common/ajax_common.js"></script>

<script type="text/javascript" src="/static/js/plugin/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/static/js/plugin/jquery.autoResize.min.js"></script>

<script type="text/javascript" src="/static/js/lib/map_com.js"></script>
<script type="text/javascript" src="/static/js/post.js"></script>


<script type="text/template" id="template">
<li class="p5">
<div class="media">
    <div class="img">
        <span>{index}</span>
        <img src="{icon}" class="icon">
    </div> 
    <div class="bd">
        <p>{name}</p>
        <p class="text10 text_col_gray">{vicinity}</p>
    </div>
<input type="hidden" name="lat" value="{lng}" class="js-lng">
<input type="hidden" name="id" value="{id}" class="js-id">
<input type="hidden" name="lng" value="{lat}" class="js-lat">
<input type="hidden" name="lat" value="{lng}" class="js-lng">
</div>




</li>
</script>


</body>
</html>
