<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="author" content="© 2012 GIRLS UP">
<meta name="description" content="">
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>maplus</title>
<link rel="stylesheet" href="../css/general.css"/>
<link rel="stylesheet" href="../css/layout.css"/>
<link rel="stylesheet" href="../css/module.css"/>
<title>mapl
	us</title>
</head>
<body class="">


<div class="g_navi clrF">
    <ul class="tbl bg_color_lightblack">
        <li class="tbl-cell">
            <div class="taLeft"><img src="../images/logo.png" class=""></div>
        </li>
        <li class="tbl-cell w60">
            <a href="map.html"><img src="../images/icon/search.png" class=""></a>
        </li>
        <li class="tbl-cell w60">
            <a href="post.html"><img src="../images/icon/push-pin.png" class=""></a>
        </li>
    </ul>
</div>
<div class="g_navi clrF ">
    <ul class="tbl">
        <li class="tbl-cell w50p">
            <a href="map.html">home<img src="../images/icon/home.png" class=""></a>
        </li>
        <li class="tbl-cell w50p">
            <a href="post.html">mypage<img src="../images/icon/agent.png" class=""></a>
        </li>
    </ul>
</div>



<div class="contents">
    <article id="js_addlist">

	<section class="clrF m10 white_area">
	    <ul class="ullist">
	        <li class="p10">
	        <div class="media">
	            <div class="img">
	                <span class="frame"><a href="#"><img data-defer-src="../images/user_01.jpeg" class="img_size_35 load_anime"></a></span>
	            </div>
	            <div class="bd">
	                <p class="img_ext text10 text_col_gray">10月2日</p>
	                <p><a href="{base_url}web/user/profile/?user_id={$contribute_user.id|escape:url}" class="name">むらぼー</a></p>
	            </div>
	        </div>
	        <p class="text15 mt10">ここのラーメンおいしかったよー</p>
	            <div class="post_images clear">
	                <img data-defer-src="../images/image_01.jpeg" class="load_anime">
	               </div>
	        </li>
	    </ul>
	  <ul  class="tbl under_box">
	        <li class="tbl-cell p10">
	            <a class="text_col_gray tx_underline">
	        <p>COCO一番</p>
	        <p class="text10">東京都渋谷区道玄坂上３番地５丁目...</p>

	        </a>
	        </li>
	        <li class="tbl-cell w50">
	            <div class="floRight p10"><button type="button" class="btn btn_plus js_btn_plus">plus</button></div>
	        </li>
	    </ul>
	</section>


    </article>
</div>








<footer>
    <div class="menu pos1"></div>
    <div class="menu pos2"></div>
    <div class="menu pos3"></div>
    <div class="menu pos4"></div>
</footer>



<script type="text/template" id="template">
{{id}}<br>
{{content}}<br>
{create_datetime}}<br>
</script>


<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../js/plugin/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="../js/plugin/jquery.autoResize.min.js"></script>
<script type="text/javascript" src="../js/general.js"></script>
<script type="text/javascript" src="../js/ajax_common.js"></script>


<script type="text/javascript" src="../js/lib/plus.js"></script>
<script type="text/javascript" src="../js/feed.js"></script>
</body>
</html>
