@charset "utf-8";

/*
 初期化
----------------------------------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video,textarea,button{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ul,ol,li,dl,dt,dd{
	margin:0;
	padding:0;
	list-style-type:none;
}
img{
	border:0 !important;
	vertical-align:middle;
}
hr{
	display:none;
}
table{
	empty-cells:show;
}
sup{
	vertical-align:text-top;
}
sub{
	vertical-align:text-bottom;
}
em{
	font-style:normal;
	font-weight:bold;
}
a{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
input, select {
	vertical-align:middle;
}
article, aside, dialog, figure, footer, header,
hgroup, nav, section,div,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,button,a,inpit,em,span,img{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
}

/*
 element display for html5
----------------------------------------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}
[hidden],command,datalist,menu[type=context],rp,source{display: none;}

/*
 alternateText
----------------------------------------------------------------------------------------------------*/
.altT{
	display:inline-block;
	height:0;
	width:0;
	overflow:hidden;
	position:absolute;
}

/*
 text align
----------------------------------------------------------------------------------------------------*/
.taLeft{text-align:left !important;}
.taCenter{text-align:center !important;}
.taRight{text-align:right !important;}

/*
 vertical align
----------------------------------------------------------------------------------------------------*/
.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}

/*
 float
----------------------------------------------------------------------------------------------------*/
.floLeft{float: left;}
.floRight{float: right;}
.clear{clear: both;}

/*
clearfix
----------------------------------------------------------------------------------------------------*/

/*clearfix*/
.clrF:before,
.clrF:after{content:"";display:table;}
.clrF:after{clear:both;}
/*/clearfix*/

/*
 margin
----------------------------------------------------------------------------------------------------*/
.m10{margin:10px !important;}
.mh10{margin:0 10px !important;}

/*margin : top
----------------------------------------------------------------------*/
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}


/*margin : bottom
----------------------------------------------------------------------*/
.mb10{margin-bottom:10px !important;}

/*margin : left
----------------------------------------------------------------------*/
.ml10{margin-left:10px !important;}

/*margin : right
----------------------------------------------------------------------*/
.mr10{margin-right:10px !important;}


/*
 padding
----------------------------------------------------------------------------------------------------*/
.p10{padding:10px !important;}

/*padding：top
----------------------------------------------------------------------*/
.pt10{padding-top:10px !important;}

/*padding : bottom
----------------------------------------------------------------------*/
.pb10{padding-bottom:10px !important;}


/*
 misc
----------------------------------------------------------------------------------------------------*/
.no_br{white-space:nowrap;}
.auto_br{white-space:normal;}
.fw_bld{font-weight:bold;}
.fw_nrm{font-weight:normal;}
.no_border{border:none 0 !important;}
.disp_none{display:none ;}
.disp_block{display:block !important;}
.disp_inlineblock{display:inline-block !important;}
.disp_inline{display:inline !important;}
.tx_l_thro{text-decoration:line-through;}
.tx_underline{text-decoration:underline;}


/*
 font
----------------------------------------------------------------------------------------------------*/
.text10 { font-size:72%; }
.text11 { font-size:79%; }
.text12 { font-size:86%; }
.text13 { font-size:93%; }
.text14 { font-size:100%; }
.text15 { font-size:108%; }
.text16 { font-size:115%; }
.text17 { font-size:122%; }
.text18 { font-size:129%; }
.text19 { font-size:136%; }
.text20 { font-size:143%; }
.text21 { font-size:150%; }
.text22 { font-size:158%; }
.text23 { font-size:165%; }
.text24 { font-size:172%; }
.text25 { font-size:179%; }
.text26 { font-size:186%; }


/*
 テキストカラー
----------------------------------------------------------------------------------------------------*/
.text_col_gray{color:#999;}


/*画像サイズ*/
.img_size_75{
	width:75px;height:75px;
}
.img_size_48{
	width:48px;height:48px;
}
.img_size_35{
	width:35px;height:35px;
}
.img_size_30{
	width:30px;height:30px;
}

/*
 背景
----------------------------------------------------------------------------------------------------*/
.bg_col_none{
	background:none;
}
.bg_col_fff{
	background:#fff;
}


/*
 幅
----------------------------------------------------------------------------------------------------*/
.w60{
	width:60px;
}
.w100p{
	width:100%;
}

/*
 pos
----------------------------------------------------------------------------------------------------*/
.pos_rel{
	position:relative;
}


/*
 透過
----------------------------------------------------------------------------------------------------*/
.opa50{opacity:0.5;}
.opa70{opacity:0.7;}

/*
 フォント
----------------------------------------------------------------------------------------------------*/
.font_calibri{
font-family:Calibri,HiraKakuProN-W3d,Helvetica,sans-serif;
}

.font_helvetica{
font-family:Helvetica,Calibri,HiraKakuProN-W3d,sans-serif;
}


/*
 error
----------------------------------------------------------------------------------------------------*/
.error{
	font-size:86%;
	color:red;
}
