.post_bx{
	border: 1px solid #000;

}
.post_images{
	margin: 0 -18px;
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}

.btn_min{
	display:inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 79%;
	text-align: center;
	width: 30px;
	border: 1px solid #999;
	background: #eee
}
.icon{
    width: 30px;
    height:30px;
}